extends layout

block header
    doctype html
    html
        head
            title= title
            link(rel='stylesheet', href='stylesheets/main.css', type='text/css')
            link(rel='stylesheet', href='stylesheets/welcome.css', type='text/css')
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")
        body

block logo
    .logo.container-fluid.well
        .row.mx-auto
            .col-md-2
            .col-md-8
                img(src="images/rcr-logo-dark.png", alt = "RCR Logo", style="width:350px;height:350px")
            .col-md-2

block user-login
    .user-login.well.container-fluid
        .row
            .col-md-2
            #login-container.col-md-8.container-fluid
                .row
                    .col-md-2
                    .col-md-8
                        form(method='POST', action='/login', style="display:inline-block;text-align:center;padding:1%;margin:5%;")
                            div.form-group
                                label(for='username') username:
                                input#username.form-control(type='text', placeholder='rcr', name='username')
                            div.form-group
                                label(for='password') password:
                                input#password.form-control(type='password', name=password)
                            button.btn.btn-primary(type='submit', style="background-color:#B01C1C;border-color:#B01C1C;") Login
                    .col-md-2
            .col-md-2
